.products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    align-content: center;
    height: 80vh;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    height: 350px;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .product-card h3 {
    font-size: 18px;
    color: #333;
  }
  
  .product-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .quantity-controls button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #555;
  }
  